* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: rgb(18, 18, 18);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

form {
  display: flex;
  gap: 10px;
  background-color: #888;
  width: fit-content;
  border-radius: 20px;
  padding: 20px;
  align-items: flex-end;
  flex-direction: column;
}

input {
  font-size: 40px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  outline: none;
  transition: all 0.2s ease;
}

input:hover {
  box-shadow: inset 2px 2px 10px black;
}

button {
  font-size: 30px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  width: fit-content;
}

button:active {
  scale: 0.95;
  background-color: lightgreen;
}

.users_wrapper {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
}

.profile_card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 300px;
  width: 250px;
  padding: 20px;
  background: #f0bb78;
  border-radius: 10px;
  word-wrap: break-word;
  box-shadow: inset 2px 2px 10px black;
  transition: all 0.3s ease-out;
  scale: 0.98;
}
.profile_card:hover {
  scale: 1.02;
}

.profile_card h2 {
  color: white;
}
.profile_card h3 {
  color: white;
}

.idBox {
  background: #543a14;
  border-radius: 5px;
  padding: 10px;
  overflow-y: auto;
}

.skillsBox {
  background: #131010;
  border-radius: 5px;
  padding: 10px;
  overflow-y: auto;
}
